<div class="container">
    <h1>Monika Sulecka - Grochowska</h1>
    <h2>Frontend Developer</h2>
    <p>Doświadczony menager projektu z ponad 18 letnim doświadczeniem w branży usługowej specjalizująca się w zarządzaniu zespołami koordynacji projektów i optymalizacji procesów. Z pasją do technologii od dwóch lat doszkalająca się w technologiach Front-endowych.</p>
    <p>
      <a href="https://github.com/monika-sulecka" target="_blank">GitHub</a> |
      <a href="https://www.linkedin.com/in/monika-sulecka-grochowska-82a91a14b/" target="_blank">LinkedIn</a>
    </p>
  </div>